@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/* Titles, sections */
h1 {
    color: #dc322f ;
    font-size: 2.6em;
    font-weight: 700;
}
h2 {
    color: #859900;
    font-size: 2.2em;
    font-weight: 700;
}
h3 {
    color: #859900;
    font-size: 1.8em;
    font-weight: 600;
}
h4 {
    color: #2980B9;
    font-size: 1.4em;
    font-weight: 500;
}
h5 {
    color: #2980B9;
    font-size: 1.3em;
    font-weight: 400;
}
h6 {
    color: #2980B9;
    font-size: 1.15em;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', 'PT Sans Narrow', sans-serif;
}

/* Global settings */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'PT Sans', sans-serif;
    background-color: #eee8d5;
    color: #657b83;
    margin: 1em;
}
body {
    margin: 0;
    background-color: #fdf6e3;
    margin: 0 auto;
    max-width: 23cm;
    border: 1pt solid #93a1a1;
    padding: 1em;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells:show;
  margin-bottom:24px;
  border-bottom:1px solid #e1e4e5;
}

td{
    vertical-align:top
}

table td,table th{
    font-size:90%;
    margin:0;
    overflow:visible;
    padding:8px 16px;
    background-color:white;
    border:1px solid #e1e4e5;
}

table thead th{
    font-weight:bold;
    border-top:3px solid #e1e4e5;
    border-bottom:1px solid #e1e4e5;
}

table caption{
    color:#000;
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
}

table tr:nth-child(2n-1) td{
    background-color:#f3f6f6;
}

table tr:nth-child(2n) td{
    background-color:white;
}

/* Figures */
figcaption{
    color:#000;
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
}

/* Code blocks and console outputs */
code,kbd,pre,samp {
    font-family: 'Inconsolata', monospace, serif;
    font-size: 1em;
}
pre {
    background-color: #fdf6e3;
    color: #657b83;
    border: 1pt solid #93a1a1;
    padding: 1em;
    box-shadow: 5pt 5pt 8pt #eee8d5;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fdf6e3;
}
code {
    background-color: #eee8d5;
    padding: 2px;
}
.example{
    background:#f3f6f6;
    border:1px solid #e1e4e5;
    color:#404040;
    line-height: 1.5;
    margin-bottom:24px;
    padding:12px;
}

/* Disposition in blocks */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}

/* Buttons */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Links */
a {
    color: #dc322f;
}
a:visited {
  color: #dc322f;
}
a:hover {
  color: #d33682;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}

/* Tags Org-mode */
.tag {
  background-color: #eee8d5;
  color: #d33682;
  padding: 0 0.2em;
}
.todo,
.next,
.done {
  color: #fdf6e3;
  background-color: #dc322f;
  padding: 0 0.2em;
}
.tag {
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
}
.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #2aa198;
}
.NEXT {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #268bd2;
}
.ACTIVE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #268bd2;
}
.DONE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #859900;
}
.WAITING {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #cb4b16;
}
.HOLD {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #d33682;
}
.NOTE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #d33682;
}
.CANCELLED {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #859900;
}

/* Top menu */
.header{
    font-size: 2.2em;
    line-height: 40px;
    font-weight: 400;
    box-shadow: 0px 2px 2px grey;
    background: #2E435E;
    background: linear-gradient(to top,#2E435E,#172E50);
    color: #eee;
    border: solid 3px transparent;
    border-bottom-color: #aaa;
    text-align: center;
}
.header a {
    color: #eee;
    text-decoration: none;
}
.header a:hover {
    color: #fff;
}
.sitelinks, .sitelinks a {
    font-size: 80%;
    line-height: 30px;
    color: #999;
}

/* Home page */
.post-date {
    margin-top: 1em;
    color: #888;
}
.post-title {
    margin-top: 5;
    margin-bottom: 0;
}

/* Indicate language in src blocks */
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 0.9em;
}
pre.src:before {
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-C:before { content: 'C'; }
pre.src-css:before { content: 'CSS'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-shell:before { content: 'Shell Script'; }
/* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
/* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-html:before { content: 'HTML'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }

/* Menu des tags */
/* Style The Dropdown Button */
.dropbtn {
  vertical-align: baseline;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbfbfb;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #777;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #2980B9;
    font-weight:bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.slogan{
    font-size: 50%;
}

#archive{
    font-size: 120%;
    font-weight:bold;
    margin-top:1em;
}
